* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    background: #000000;
    color: white;
}

header {
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #262626;
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.main-logo {
    max-width: 48px;
    max-height: 48px;
}

nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

.nav-link {
    font-size: 14px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-link:hover {
    color: wheat;
    transition: .3s ease-in-out;
}

.nav-link:active {
    color: #a88548;
    transition: .3s ease-in-out;
}

.nav-block {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-first {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav-second {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.burger {
    display: none;
}

@media screen and (max-width: 1500px) {
    .nav-block {
        width: 70%;
    }
}

@media screen and (max-width: 1350px) {
    .nav-block {
        width: 80%;
    }

    .nav-first {
        width: 35%;
    }
}

@media screen and (max-width: 1150px) {
    .nav-block {
        width: 70%;
    }

    .nav-first {
        width: 35%;
    }

    .nav-second {
        width: 45%;
    }
}

@media screen and (max-width: 1000px) {
    .nav-block {
        width: 80%;
    }

    .nav-first {
        width: 35%;
    }

    .nav-second {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    nav {
        display: none;
    }

    .burger {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        margin: 10px;
    }

    .top-btn {
        border: 2px solid white;
        transition: .2s;
    }

    .mid-btn {
        margin-top: 10px;
        border: 2px solid white;
        transition: .2s;
    }

    .bot-btn {
        margin-top: 10px;
        border: 2px solid white;
        transition: .2s;
    }
}

.monopay-button {
    padding: 8px 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: 1px wheat solid;
    color: wheat;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 60px;
}

.big-button {
    padding: 14px 24px;
    font-size: 22px;
}

.monopay-button:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
    transition: .3s ease;
}

.monopay-button:active {
    box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.4);
    transform: translateY(-2px) scale(0.9);
    transition: .3s ease;
}

.monopay-button img {
    width: 16px;
    height: 16px;
}

/* MAIN SECTION */

main {
    padding: 0% 10%;
}

.main {
    margin-top: 100px;
    position: relative;
}

.main-article {
    max-width: 620px;
    max-height: 551px;
}

.main-article h1 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 95.95px;
    line-height: 120%;
    letter-spacing: -0.06em;
    color: white;
}

.main-article h1>span {
    color: #ADA785;
}

.main-article__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 58px;
}

.main-article p {
    max-width: 400px;
    max-height: 165px;
    font-weight: 300;
    font-size: 16px;
}

.main-info {
    margin-top: 88px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-width: 900px;
    gap: 20px 67px;
}

.info__block {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.info__block hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}

.info__block h2 {
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: wheat;
}

.info__block span {
    font-size: 16px;
    color: #E5E5E5;
}

.info__block img {
    width: 27px;
    height: 22px;
}

.block__cards {
    display: flex;
    gap: 40px;
}

.master {
    display: flex;
    flex-direction: row;
    position: relative;
}

.master-right {
    background: #E80B26;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.master-left {
    position: absolute;
    left: 15px;
    background: #F59D31;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.main-background {
    position: absolute;
    width: 620px;
    height: 855px;
    top: 0px;
    left: 780px;
}

.background-card {
    position: relative;
    width: 339px;
    height: 551px;
    background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset 2.22304px -1.37286px 3.59688px rgba(250, 250, 250, 0.22);
    backdrop-filter: blur(9.60914px);
    border-radius: 31.0971px;
}

.background-card__back {
    position: relative;
    width: 339.4px;
    height: 424.24px;
    background: linear-gradient(200.74deg, #262626 0%, #121212 100%);
    border-radius: 31.0971px 31.0971px 0px 0px;
}

.background-card__wifi {
    position: absolute;
    top: 39px;
    left: 252px;
}

.background-card__back h3 {
    position: absolute;
    top: 130px;
    left: 29px;
    font-weight: 400;
    font-size: 31.0971px;
    line-height: 27px;
    letter-spacing: -0.08em;
    background: -webkit-linear-gradient(63.68deg, #ADA785 0%, #D6D3C2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-card__chip {
    position: absolute;
    top: 339px;
    left: 58px;
}

.bacground-light {
    z-index: -5;
    position: absolute;
    top: 381px;
    left: 175px;
    width: 259px;
    height: 258px;
    border-radius: 50%;
    background: #FFD700;
    filter: blur(126.221px);
}

.background-phone {
    position: absolute;
    top: 118px;
    right: 0;
    width: 340px;
    height: 736px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: -152.728px -84.8489px 169.698px rgba(0, 0, 0, 0.8), inset -2.22304px -1.37286px 3.59688px rgba(250, 250, 250, 0.22);
    backdrop-filter: blur(9.60914px);
    border-radius: 50.9093px;
    overflow: hidden;
}

.background-phone__head {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 68px;
    max-height: 95px;
}

.background-phone__head h6 {
    font-weight: 400;
    font-size: 11.8788px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #666666;
}

.background-phone__head h4 {
    margin-top: 8px;
    font-weight: 300;
    font-size: 31.0971px;
    line-height: 41px;
    color: #FFFFFF;
}

.background-phone__head h4>span {
    color: #666666;
}

.done-block {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 16px;
}

.done-block span {
    font-weight: 400;
    font-size: 10.1819px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #89D22B;
}

.background-phone__info {
    margin-left: 25px;
    margin-top: 61px;
}

.phone-info__block {
    font-size: 11.8788px;
    line-height: 16px;
}

.phone-info__block:nth-child(2) {
    margin-top: 130px;
}

.phone-info__block:nth-child(3) {
    margin-top: 25px;
}

.phone-info__block span {
    color: #666666;
}

.phone-info__block p {
    color: #FFFFFF;
}

.background-phone__card {
    position: absolute;
    top: 214px;
    left: 178px;
    width: 187px;
    height: 302px;
    background: linear-gradient(159.26deg, rgba(214, 211, 194, 0.6) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -1.22267px -0.75507px 1.97828px rgba(250, 250, 250, 0.22);
    backdrop-filter: blur(5.28503px);
    border-radius: 19.2183px;
}

.phone-card__back {
    width: 187px;
    height: 233px;
    background: linear-gradient(200.74deg, #262626 0%, #121212 100%);
    border-radius: 17.1034px 17.1034px 0px 0px;
}

.phone-card__back img {
    width: 31px;
    height: 25px;
    position: absolute;
    top: 23px;
    left: 134px;
}

.card-circle {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 186px;
    left: 29px;
}

.card-circle_left {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1.30531px solid #FFFFFF;
}

.card-circle_right {
    position: absolute;
    left: 15px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1.30531px solid #FFFFFF;
}

.background-phone__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 288px;
    margin-top: 65px;
    margin-left: 25px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background-color: rgb(214, 211, 194);
    border-radius: 50%;
    background: url(../assets/avatar.png) no-repeat center;
}

.user-name h6 {
    font-size: 13.5758px;
    line-height: 120%;
    color: #FFFFFF;
}

.user-name span {
    font-size: 10.1819px;
    line-height: 120%;
    color: #666666;
}

.background-phone__menu {
    height: 34px;
    width: 288px;
    display: flex;
    justify-content: space-between;
    padding: 7px 12px;
    margin-top: 44px;
    margin-left: 25px;
}

.menu-button {
    width: 59px;
    height: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -2.22304px -1.37286px 3.59688px rgba(250, 250, 250, 0.22);
    backdrop-filter: blur(9.60914px);
    border-radius: 50.9093px;
    border: 1px solid rgba(214, 211, 194, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 120%;
    color: #E5E5E5;
}

/* CUSTOMER SECTION */

.customer {
    margin-top: 207px;
    height: 800px;
    position: relative;
}

.customer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-header h4 {
    font-size: 22.65px;
    line-height: 30px;
    color: #ADA785;
}

.customer-header h2 {
    margin-top: 10px;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: white;
}

.customer-header h2>span {
    color: #ADA785;
}

.customer-header p {
    margin-top: 40px;
    max-width: 400px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    color: #E5E5E5;
}

.customer-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.customer-block {
    width: 400px;
    height: 226px;
}

.customer-block__user {
    margin-top: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.customer-block__user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.customer-block__user h6 {
    font-weight: 700;
    font-size: 22.65px;
    line-height: 30px;
    color: #FFFFFF;
}

.customer-block__user span {
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}

.customer-block p {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

/* FEATURES SECTION */

.features {
    margin-top: 105px;
    position: relative;
}

.features-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-header h4 {
    font-weight: 400;
    font-size: 22.65px;
    line-height: 30px;
    color: #ADA785;
}

.features-header h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: white;
}

.features-header h2>span {
    color: #ADA785;
}

.features-header p {
    margin-top: 40px;
    max-width: 480px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #E5E5E5;
}

.features-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin-top: 140px;
}


.features-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.features-block__first {
    position: relative;
    overflow: hidden;
    width: 840px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -2.62px -1.618px 4.23916px rgba(250, 250, 250, 0.22);
    border-radius: 60px;
}

.features-block__first h2 {
    margin-left: 40px;
    margin-top: 60px;
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: #E5E5E5;
}

.features-block__first p {
    max-width: 280px;
    margin-top: 37px;
    margin-left: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #E5E5E5;
}

.block-first_circle {
    position: absolute;
    top: 320px;
    left: 544px;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background: #FFD700;
    filter: blur(125px);
}

.block-first_noise {
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: overlay;
    opacity: 0.4;
}

.block-card__first {
    position: absolute;
    right: 0;
    top: 123px;
}

.block-card__second {
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-card__third {
    position: absolute;
    left: 307px;
    bottom: 0;
}

.features-block__second {
    position: relative;
    overflow: hidden;
    padding: 60px 40px;
    width: 400px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -2.62px -1.618px 4.23916px rgba(250, 250, 250, 0.22);
    border-radius: 60px;
}

.features-block__second p {
    margin-top: 27px;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.block-second__title {
    display: flex;
    justify-content: space-between;
}

.block-second__title h4 {
    font-weight: 400;
    font-size: 22.65px;
    line-height: 30px;
    color: #FFFFFF;
}

.block-second_circle {
    z-index: -1;
    position: absolute;
    width: 256px;
    height: 256px;
    top: 400px;
    left: 72px;
    background: #FFD700;
    filter: blur(125px);
}

.features-block__third {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -2.62px -1.618px 4.23916px rgba(250, 250, 250, 0.22);
    border-radius: 60px;
}

.features-block__third img {
    position: absolute;
    top: 60px;
    left: 40px;
}

.features-block__third h2 {
    position: absolute;
    top: 204px;
    left: 40px;
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: #E5E5E5;
}

.block-third_circle {
    z-index: -1;
    position: absolute;
    width: 256px;
    height: 256px;
    top: 400px;
    left: 72px;
    background: #FFD700;
    filter: blur(125px);
}

.block-card_back {
    position: absolute;
    top: 60px;
    left: 300px;
}

.block-card__front {
    position: absolute;
    top: 206px;
    left: 662px;
}

/* FEES SECTION */

.fees {
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.fees-pic {
    position: relative;
    width: 510px;
    max-height: 720px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic__second {
    position: absolute;
    top: 10px;
    left: -50px;
}

.fees-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 620px;
}

.fees-info__header {
    max-width: 480px;
}

.fees-info__header h4 {
    font-weight: 400;
    font-size: 22.65px;
    line-height: 30px;
    color: #ADA785;
}

.fees-info__header h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: white;
}

.fees-info__header h2>span {
    color: #ADA785;
}

.fees-info__header p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E5E5E5;
}

.fees-info__middle {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-section {
    max-width: 290px;
}

.info-section p {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #E5E5E5;
}

.section-title {
    position: relative;
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title span {
    font-size: 16px;
    color: #E5E5E5;
}

.section-title hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}

.section-title h2 {
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: wheat;
}

.fees-info__bottom {
    margin-top: 60px;
}

.info-bottom {
    max-width: 620px;
}

.info-bottom p {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #E5E5E5;
}

.bottom-title {
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-title span {
    margin-left: 40px;
    font-size: 16px;
    color: #E5E5E5;
}

.bottom-title hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}

.bottom-title h2 {
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: wheat;
}

/* SECURITY SECTION */

.security {
    margin-top: 203px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.security-title {
    position: relative;
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.security-title span {
    font-size: 16px;
    color: #E5E5E5;
}

.security-title img {
    margin-bottom: 20px;
}

.security-title hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}

.bottom-title__security {
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-title__security hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}

.bottom-title__security h2 {
    font-weight: 300;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: wheat;
}

.bottom-title__security img {
    margin-bottom: 20px;
}

.bottom-title__security span {
    margin-left: 40px;
    font-size: 16px;
    color: #E5E5E5;
}

.security-pic {
    position: relative;
}

.security-pic__second {
    position: absolute;
    top: 222px;
    left: 110px;
    z-index: -1;
}

/* WORK SECTION */

.work {
    margin-top: 200px;
    position: relative;
}

.work-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-header h4 {
    font-weight: 400;
    font-size: 22.65px;
    line-height: 30px;
    color: #ADA785;
}

.work-header h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: white;
}

.work-header h2>span {
    color: #ADA785;
}

.work-header p {
    margin-top: 40px;
    max-width: 480px;
    font-weight: 300;
    color: #E5E5E5;
    text-align: center;
}

.work-posts {
    margin-top: 124px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* BANNER */

.banner {
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 542px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    box-shadow: inset -2.62px -1.618px 4.23916px rgba(250, 250, 250, 0.22);
    border-radius: 60px;
}

.banner-background {
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner-info {
    position: absolute;
    top: 100px;
    left: 80px;
    max-width: 539px;
    max-height: 360px;
}

.banner-info h3 {
    font-weight: 400;
    font-size: 59.3px;
    line-height: 78px;
    letter-spacing: -0.04em;
    color: #ADA785;
    margin-bottom: 93px;
}

.banner-info span {
    color: #E5E5E5;
}

.banner-info__links {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* BLOG SECTION */

.blog {
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-main {
    position: relative;
    overflow: hidden;
    max-width: 620px;
}

.blog-main img {
    max-width: 620px;
    max-height: 506px;
    border: 1.55px solid #262626;
    border-radius: 62px;
}

.blog-main h4 {
    margin-top: 60px;
    font-size: 36.65px;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: rgba(229, 229, 229, 1);
}

.blog-main p {
    margin-top: 30px;
    margin-bottom: 43px;
    color: #CCCCCC;
}

.blog-main a {
    font-weight: 400;
    font-size: 22.65px;
    line-height: 30px;
    text-decoration: none;
    align-items: center;
    color: #ADA785;
}

.blog-main a:hover {
    text-decoration: underline;
}

.blog-main a img {
    border: none;
}

.blog-side {
    display: flex;
    flex-direction: column;
    gap: 86px;
}

.blog-mid {
    max-width: 510px;
}

.blog-mid img {
    border: 1.27px solid #262626;
    border-radius: 50.8px;
}

.blog-mid h4 {
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36.65px;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: #ADA785;
}

.blog-mid a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #ADA785;
    text-decoration: none;
}

.blog-mid a:hover {
    text-decoration: underline;
}

.blog-mid a img {
    border: none;
}

.blog-main__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.blog-main__bottom hr {
    width: 50%;
    border: none;
    background: linear-gradient(to right, rgba(38, 38, 38, 1), rgba(173, 167, 133, 1), rgba(38, 38, 38, 1));
    height: 1px;
}